<div class="card card-outline-primary ">
    <div class="card-header">
        <div class="float-right">
            <a class="btn btn-sm btn-outline-danger" href="{{ path('server_delete', {'name': server.name}) }}"><i class="fa fa-times"></i></a>
            <a class="btn btn-sm btn-outline-primary" href="{{ path('new_queue', {'name': server.name}) }}"><i class="fa fa-plus"></i></a>
        </div>
        <h5>{{ server.name }}</h5>
    </div>
    <div class="card-block">
        {% for queue in server.queues %}
            {% if queue.messages > 10000 %}
                {% set style = 'bg-danger text-white' %}
            {% elseif queue.messages > 100 %}
                {% set style = 'bg-warning text-white' %}
            {% else %}
                {% set style = '' %}
            {% endif %}
            <div class="queue-container {{ style }}" data-queue-id="{{ queue.id }}">
                <div class="row">
                    <div class="col-2">{{ queue.vhost }}</div>
                    <div class="col-8">{{ queue.name }}</div>
                    <div class="col-1" id="queue_{{ queue.id }}_messages">{{ queue.messages }}</div>
                    <div class="delete">
                        <a href="{{ path('queue_delete', {'id': queue.id}) }}"> Delete <i class="fa fa-times"></i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>