{% extends 'base.html.twig' %}
{% block javascripts %}
{{ parent() }}
    <script src="{{ asset('bundles/app/auto-complete.js') }}"></script>
    <script src="{{ asset('bundles/app/chosen.jquery.min.js') }}"></script>
    <script>
    $(document).ready(function() {
        var server = '{{ app.request.get('name') }}';
        var autocomplete = new autoComplete({
            selector: '#appbundle_queue_name',
            minChars: 1,
            source: function(term, response){
                $.getJSON('/app_dev.php/server/' + server + '/ro/queue-names', { q: term }, function(data){ response(data); });
            }
        });

        $('#appbundle_queue_vhost').chosen();

        $('#appbundle_queue_vhost').chosen().change(function() {
            autocomplete.destroy();
            var vhost = $(this).val();
            autocomplete = new autoComplete({
                selector: '#appbundle_queue_name',
                minChars: 1,
                source: function(term, response){
                    $.getJSON('/app_dev.php/server/' + server + '/' + vhost + '/queue-names', { q: term }, function(data){ response(data); });
                }
            });
        });
    });
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/app/auto-complete.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/app/chosen.css') }}" rel="stylesheet" />
{% endblock %}
{% block body %}
    <div class="card card-outline-primary">
    <div class="card-header">
        <h1>Create queue</h1>
    </div>
    <div class="card-block">
        {{ form_start(form) }}
            <div class="form-group">
                <label for="formGroupExampleInput">Vhost</label>
                {{ form_widget(form.vhost, {'attr': {'class': 'form-control', 'placeholder': 'vhost...'}}) }}
            </div>
            <div class="form-group">
                <label for="formGroupExampleInput2">Queue name</label>
                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'queue name...'}}) }}
            </div>
            <input type="submit" class="btn btn-primary" value="Create" />
            <a href="{{ path('homepage') }}" class="btn btn-success">Back</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
