{% extends 'base.html.twig' %}
{% block javascripts %}
{{ parent() }}
<script>
    $(document).ready(function() {
        $('#appbundle_server').on('keyup keypress', function(e) {
            var keyCode = e.keyCode || e.which;
            if (keyCode === 13) {
                e.preventDefault();
                return false;
            }
        });
    });
</script>

{% endblock %}

{% block body %}
    <div class="card card-outline-primary">
    <div class="card-header">
        <h1>Create queue</h1>
    </div>
    <div class="card-block">
        {{ form_start(form) }}
        <div class="form-group">
            <label for="formGroupExampleInput">Name</label>
            {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Server name'}}) }}
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">Server host</label>
            {{ form_widget(form.host, {'attr': {'class': 'form-control', 'placeholder': 'Server host'}}) }}
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">Server api port</label>
            {{ form_widget(form.port, {'attr': {'class': 'form-control', 'placeholder': 'Server port'}}) }}
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">User</label>
            {{ form_widget(form.user, {'attr': {'class': 'form-control', 'placeholder': 'API HTTP Auth user'}}) }}
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">Password</label>
            {{ form_widget(form.pass, {'attr': {'class': 'form-control', 'placeholder': 'API HTTP Auth password'}}) }}
        </div>

        <input type="submit" class="btn btn-primary" value="Create" disabled="true"/>
        <a href="{{ path('homepage') }}" class="btn btn-success">Back</a>

        <a href="{{ path('homepage') }}" class="btn btn-success" id="test_server">Test Server</a>
        {{ form_end(form) }}
    </div>
{% endblock %}
